body {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-size: 2.5em;
}

p {
  margin: 0%;
}

.display {
  display: flex;
  width: 80%;
  justify-content: center;
}

.list {
  margin: 0% 2rem;
  width: 50%;
}

.recent {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.list-names {
  border: 3px solid;
}

.names {
  font-size: 1em;
  font-weight: 100;
  display: flex;
  flex-flow: row;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 20px;
  padding: 0% 1rem;
}

.names:nth-child(even) {
  background-color: rgba(104, 103, 103, 0.322);
}

.refresh {
  border: 2px solid;
  padding: 0% 1rem;
  font-size: 1.2em;
  box-shadow: 1px 4px black;
  cursor: pointer;
  margin: 0%;
}

.refresh:hover {
  border: 2px solid;
  padding: 0% 1rem;
  padding-top: 0.1rem;
  font-size: 1.2em;
  box-shadow: 2px 5px black;
  cursor: pointer;
  margin: 0%;
  margin-top: 0.1rem;
}

.recent-score,
.add-header {
  font-size: 1.8em;
  font-weight: bold;
}

.add-scores {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid;
  outline: none;
  padding-left: 10px;
  font-size: 1em;
  z-index: 999;
  visibility: visible;
  margin: 1rem 0%;
  height: 40px;
  width: 100%;
}

.submit {
  border: 2px solid;
  padding: 0% 1rem;
  font-size: 1.2em;
  box-shadow: 1px 4px black;
  justify-content: center;
  margin: 1rem 0%;
  height: 40px;
  cursor: pointer;
}

.submit:hover {
  border: 2px solid;
  padding: 0% 1rem;
  font-size: 1.2em;
  box-shadow: 2px 5px black;
  justify-content: center;
  margin: 1.1rem 0%;
  height: 40px;
  cursor: pointer;
}
